:root{
    --font-family: 'Gilroy', sans-serif;
    --primary-color: hsl(224, 53%, 10%);
}

body{
    background: url(./img/bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: var(--primary-color);
    
    font-family: var(--font-family);
    min-height: 100vh;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

span#pontos{
    background: hsl(357, 100%, 75%);
    font-size: 1.5em;
    font-weight: 700;
    padding: 10px 20px;
    box-shadow: 4px 6px 7px hsl(357, 55%, 68%);
    border-radius: 5px;
    color: white;
    text-shadow: 1px 2px 8px white;

    position: absolute;
    left: 4%;
    top: 6%;
}

.color{
    color: hsl(357, 100%, 75%);
}

span.acertou, #menor-valor, #maior-valor{
    color:  hsl(357, 100%, 75%);
    font-weight: 700;

    text-shadow: 5px 4px 10px hsl(357, 100%, 75%);
}

h1{
    font-size: 5em;
    font-weight: 700;
}

h2{
    font-size: 4em;
}

h2.acertou{
    font-weight: 700;
    font-size: 5em;
}

h3{
    font-size: 2em;
    margin-top: 20px;
}

.mensagem{
    font-size: 1.5em;
    margin-top: 40px;
}

.box{
    border: 2px solid var(--primary-color);
    padding: 10px;
    margin: 20px;

    display: inline-block;
    font-size: 4em;
    font-weight: bold;
}

.btn-jogar{
    background-color:  hsl(357, 100%, 75%);
    color: white;

    font-weight: bold;
    font-size: 19px;

    border: none;
    transition: .2s linear;

    margin-top: 30px;
    padding: 15px;

    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 7px 7px 3px 0px  hsl(357, 55%, 68%);
}

.btn-jogar:hover{
    opacity: .9;
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 2.9em;
        padding: 10px;
    }

    span.color{
        display: block;
    }
}
